body{
    background-color: whitesmoke;
}
header{
    text-align: center;
    height: 100px;
    padding-top: 1px;
    background-color: white;
    color: grey;
    font-size: x-large;
}


h3{
    margin-top: 2px;
    text-align: center;

}

form{
    width: 45%;
    display: inline-block;
    margin: 20px;
}

footer{
    margin-top: 3%;
    text-align: center;
}